# .NET specific files and folders
bin
obj
*.user
*.suo
.vs
appsettings.*.json

# Node.js specific files and folders
node_modules

# Java specific files and folders

# Python specific files and folders
__pycache__
